@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

/*
selector {
    property: value;
    another-property: value;
*/

.new-colection {
    margin: 40px;
    padding: 40px;
    box-sizing: border-box;
    display: block;
    flex-basis: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-width: 320px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 100px;
    position: relative;
    max-width: 800px;
    z-index: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #222323;
    border-width: 0px;
    border-style: none;
    border-color:rgb(11, 11, 11);
    border-left-style: none;
    border-left-width: 0px;
    border-top-width: 0px;
    border-top-style: none;

}

:root {font-family: 'Bebas Neue', cursive;
}

.new-colectioin {
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-size: 38px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color: #222323;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.title-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 38px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color: #222323;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

.divider-line {
    box-sizing: border-box;
    display: flax;
    justify-content: flex-start;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    border-image-width: 1;
    line-height: 2px; 
    width: 15%; 
    background-color: #e0e0e0;
    vertical-align: baseline;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    text-decoration: auto;
    color:  #717474;
    border-bottom: #717474;
    display: inline;
    height: auto;
    width: auto;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 150px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.button-mor {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-bottom-width: 2px;
}

.new-colection {
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.price-basket {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 100px;
    margin-right: 15px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    background-color: white;
    color: black;
    border-bottom-width: 2px;
}

img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0px;
    padding: 0px;
}

.point {
    margin: 10px;
    padding: 0;
    font-size: 30px;
    text-align: left;
    color: #f40106;
    margin-left: 0px;
}

span {
    margin: 10px;
    padding: 0;
    font-size: 30px;
    text-align: left;
    color: #f40106;
}
.button-basket {
    border: none;
    margin: 20px 50px 20px;
    padding: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 145px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

button {
    margin: 100px 50px 20px;
    padding: 20px;
    border-color: #ffffff05;
}

alternative-color {
color: #ffffff05;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}