body, html {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

*, *::after, *::before{
    box-sizing: border-box;
}

.button-basket {
    background-color: black;
    font-size: 16px;
    padding: 10px 24px;
    color: white;
}

.new-imegis{
    margin: 25;
    padding: 25;
    
}

.carousel{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel ul{
    box-sizing: border-box;
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    border: 0;
    list-style: none;
    -webkit-box-pack: center;

}

.slide{
    position: absolute;
    opacity: 0;
    inset: 0;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
}

.slide img{
    -webkit-box-pack: center;
    justify-content: center;
    width: 50%;
    height: auto;
    display: block;
    margin-top: 30px;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    font-size: 4rem;
    background: none;
    border: none;
    top: 50%;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0.5rem;
    background-color: #e07777;

}

.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button.next{
    right: 1rem;
}

.carousel-button.prev{
    left: 1rem;
}

span {
    margin: 10px;
    padding: 0;
    font-size: 30px;
    text-align: left;
    color: #f40106;
}

.button-basket {
    border: none;
    margin: 20px 50px 20px;
    padding: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 145px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}